#card_colum-content {}
#card_colum-content .container-fluid .card-colum-row-content {
    padding: 25px 20px;
}
.card {
    background: #202026;
    border-radius: 6px;
    padding: 15px 20px;
    margin-bottom: 15px;
    padding-bottom: 0px;
}
.colum-left-content {}
.colum-left-card-text-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.colum-left-card-text-content h3 {
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.colum-left-card-text-content p {
    color: #aeb4b9;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
}
.colum-left-card-img-slider-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colum-left-card-img-text-content {
    margin-top: 15px;
}
.colum-left-card-img-text-content img {
    width: 75%;
    cursor: pointer;
    border-radius: 12px;
}
.colum-left-card-img-text-content h3 {
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
}
.colum-left-card-img-text-content p {
    color: #aeb4b9;
    cursor: pointer;
    font-size: 11px;
    margin-left: 10px;
    margin-top: -5px;
}
#card_colum-content .row .col-md-2 {
    padding: 0;
    text-align: center;
}
/*right-colum-content*/
.colum-left-card-text-content p .fa-1x {
    margin-top: 4px;
}
.colum-left-content .row {}
.right-colum-card-content {}
.right-colum-card-content img {
    width: 75%;
    border-radius: 12px;
}
.right-colum-card-content h1 {
    color: white;
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
}
.right-colum-card-content h3 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.right-colum-card-content p {
    color: #aeb4b9;
    cursor: pointer;
    font-size: 12px;
    margin-left: 6px;
    margin-top: -5px;
}
.right-colum-card-play-content {
    margin-top: -4px;
}
.right-colum-card-play-content span {
    font-size: 13px;
    margin-top: -1px;
}
.right-colum-card-input-content {}
.right-colum-card-input-content input {}
.right-colum-card-input-content input[type="range"] {
    -webkit-appearance: none;
    appearance: revert;
    background: #dddddd24;
    cursor: pointer;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 11px;
}
#play-row-content .row {
    padding: 15px 4px !important;
    margin-bottom: 35px;
}
/*right-colum-video-play-content*/
#video-play-content {}
#video-play-content .row {
    padding: 22px 23px !important;
    background: #5773ff;
    margin: -21px !important;
    border-radius: 6px;
}
.right-video-play-display-content {
    display: flex;
    justify-content: space-between;
    margin-left: -22px;
}
.video-play-icon-content {
    margin: 10px 10px;
}
.video-play-icon-content .fa-1x {
    cursor: pointer;
    font-size: 19px;
}
.right-colum-card-icon-colum {
    padding: 0;
}
.right-colum-card-play-btn-content {}
.right-colum-card-play-btn-content .fa-1x {
    color: #5773ff;
    background: white;
    cursor: pointer;
    padding: 17px 21px;
    border-radius: 17px;
    margin-top: -3px;
}
.right-colum-card-up-text-content {}
.right-colum-card-up-text-content .fa-1x {
    font-size: 14px;
    margin-top: 19px;
    margin-bottom: 2px;
    cursor: pointer;
}
.right-colum-card-up-text-content h4 {
    font-size: 11px;
}
/*left-colum-content*/
.left-colum-card-two-box-colum-content {
    display: flex;
    justify-content: space-between;
    color: white;
}
.left-colum-card-left-box-content {
    background: #476a8a;
    padding: 9px 9px;
    border-radius: 8px;
    margin-bottom: 18px;
    margin-top: 13px;
    margin-right: 7px;
    width: 77px;
}
.left-colum-card-left-box-content h3 {
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}
.left-colum-card-right-box-content {
    background: #a69984;
    padding: 9px 9px;
    border-radius: 8px;
    width: 77px;
    margin-top: 13px;
    margin-bottom: 18px;
}
.left-colum-card-right-box-content h3 {
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
}
/*part-2*/
.left-colum-card-two-box-colum-content {
    display: flex;
    justify-content: space-between;
    color: white;
}
.left-colum-card-left-box-content-one {
    background: #a67894;
    padding: 9px 9px;
    border-radius: 8px;
    margin-bottom: 18px;
    margin-right: 7px;
    width: 77px;
}
.left-colum-card-left-box-content-one h3 {
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}
.left-colum-card-right-box-content-one {
    background: #5547a5;
    padding: 9px 9px;
    border-radius: 8px;
    width: 77px;
    margin-bottom: 18px;
}
.left-colum-card-right-box-content-one h3 {
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}
/*part-3*/
.left-colum-card-two-box-colum-content {
    display: flex;
    justify-content: space-between;
    color: white;
}
.left-colum-card-left-box-content-two {
    background: #a24c34;
    padding: 9px 11px;
    border-radius: 8px;
    margin-bottom: 18px;
    margin-right: 7px;
    width: 142px;
}
.left-colum-card-left-box-content-two h3 {
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}
.left-colum-card-right-box-content-two {
    background: #0d4045;
    padding: 9px 9px;
    border-radius: 8px;
    width: 77px;
    margin-bottom: 18px;
}
.left-colum-card-right-box-content-two h3 {
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}
/*table-content*/
.left-colum-card-table-content {}
.left-colum-card-table-content table {}
.left-colum-card-table-content table tbody {}
.left-colum-card-table-content table tbody tr {}
.left-colum-card-table-content .table td {
    padding: 0 !important;
    color: #aeb4b9;
    font-size: 12px;
}
.table td, .table th {
    padding: 0 !important;
}
.left-colum-card-table-content img {
    width: 43px;
    cursor: pointer;
    border-radius: 8px;
}
.left-colum-card-table-user-content {
    margin: 5px 7px;
}
.left-colum-card-table-user-content h4 {
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.left-colum-card-table-user-content p {
    font-size: 11px;
    margin-top: -7px;
}
.left-colum-card-table-time-content {}
.left-colum-card-table-time-content h4 {
    color: #ececec;
    font-size: 12px;
    cursor: pointer;
    margin-top: 11px;
}
.left-colum-card-table-date-content {}
.left-colum-card-table-date-content p {
    margin-top: 10px;
    margin-right: 8px;
}
.left-colum-crad-table-play-content {
    margin-top: 2px;
    background: #40404b;
    padding: 4px 0;
    border-radius: 5px;
    padding-left: 4px;
    border: 1px solid #ffffff4d;
}
.left-colum-crad-table-play-content .fa-1x {
    color: #5773ff;
    font-size: 11px;
    margin-right: -46px;
    cursor: pointer;
    padding-left: 5px;
}
.left-colum-card-table-plus-content {}
.left-colum-card-table-plus-content .fa-1x {
    font-size: 11px;
    color: white;
    margin-top: 10px;
    margin-left: 14px;
    cursor: pointer;
    margin-right: -18px;
}