@media only screen and (max-width: 1024px){
    .sidebar-nav {
        margin-left: -40px;
        padding-left: 40px;
    }
    .sidebar-card-content {
        display: none;
    }
}

:root {
    --offcanvas-width: 243px !important;
}
.offcanvas-backdrop.show {
     opacity: 0 !important;
}
.sidebar-nav {
    width: var(--offcanvas-width) !important;
}
#main-content .container-fluid .row .col-md-10 {
    background-image: linear-gradient(180deg, #000000, #18181d);
}
.right-content {
    /*display: flex;*/
}
.right-content .button {
    background: azure !important;
    width: 10px;
    height: 25px;
    margin-left: 10px;
    margin-top: 20px;
}
.right-content .button .fa-1x {
    color: white !important;
}

@media (min-width: 992px){
    .offcanvas-backdrop::before{
        display: none !important;
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        /*top: var(--topnavbarheight);*/
        /*height: calc(100% - var(--topnavbarheight));*/
    }
}