#slider-content {}
#slider-content h2 {
    color: white;
    padding: 0 25px;
    font-weight: 600;
    font-size: 16px;
    margin-top: -10px;
}
#slider-content .container-fluid .row {
    padding: 25px 20px;
}
.slider-text-content {}
.slider-text-content h1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.slider-text-display-content {
    display: flex;
    margin-top: 15px;
}
.slider-text-display-content h3 {
    margin-top: -3px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.slider-text-display-content p {
    color: #aeb4b9;
    font-size: 15px;
    padding-left: 20px;
}
.slider-btn-icon-display-content {
    margin-top: 18px;
}
.slider-btn-icon-display-content button {
    background: hsl(230deg 100% 67%);
    color: white;
    font-family: system-ui;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 36px;
}
.slider-btn-icon-display-content button:hover {
    background: white;
    color: black;
}
.slider-btn-icon-display-content span {
    border: 2px solid white;
    padding: 7px 11px;
    border-radius: 33px;
    margin-left: 18px;
    position: absolute;
}
.slider-btn-icon-display-content span .fa-1x {
    color: hsl(230deg 100% 67%);
    cursor: pointer;
}
.slider-right-content {}
.slider-right-dott-content {}
.slider-right-dott-content span:after{
    content: '\30FB';
    font-size: 23px;
    line-height: 1px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.slider-right-dott-content {}
.slider-right-dott-content .slider-right-span-content:after{
    content: '\30FB';
    font-size: 23px;
    line-height: 1px;
    align-items: center;
    justify-content: center;
    color: #ffffff3b;
}

.slider-left-right-content {
    display: inline-grid;
    position: absolute;
    margin-top: 77px;
    writing-mode: vertical-lr;
    margin-right: -20px;
}
.slider-left-right-content .fa-1x {
    color: #aeb4b9!important;
    rotate: 87deg;
    font-size: 15px;
    margin-top: -32px;
    margin-right: -12px;
}
.slider-left-right-content .fa-2x {
    color: #aeb4b9!important;
    font-size: 15px;
    rotate: 87deg;
}
.colum-right-content {
    writing-mode: tb-rl;
    padding-bottom: 83px;
}